/* Base styles */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 700px; /* Adjusted for readability */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.search-form button {
    background-color: #3498db; /* Adjust button color as needed */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensure clean table borders */
    font-size: 16px; /* Adjust table font size */
}

th {
    font-weight: bold;
    background-color: #f2f2f2; /* Add a slight background color for the header */
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Add a slight background color for even rows */
}

.back-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

.no-items {
    text-align: center;
    margin-top: 20px; /* Adjust spacing as needed */
}
